<template>
    <section class="about">
        <div class="about__wrap">
            <h2>Dungeon & Dragons Character Sheet</h2>
            <h3>Alternative character sheet based on the 5th edition of the game</h3>
            <div class="about__body">
                <p>
                    Thanks for using!
                </p>
                <p>If you have questions, you can send them to me using these methods:</p>
                <div class="about__links">
                    <p>VK: <a href="//vk.com/svifty7" target="_blank">Personal page</a></p>
                    <p>E-mail: <a href="mailto:svifty7@gmail.com">svifty7@gmail.com</a></p>
                    <p>
                        GitLab Issues: <a href="//gitlab.com/svifty7/dnd-vue-lite/issues" target="_blank">Svifty7</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
</template>

<style lang="less">
    @import '../assets/css/style.less';
    
    .about {
        height: 100%;
        display: flex;
        align-items: center;
        
        &__wrap {
            .content;
        }
        
        &__body {
            text-align: center;
        }
        
        &__links {
            margin-top: 2em;
        }
    }
</style>