<template>
    <div class="content char__extraSaves">
        <h2 class="char__extraSaves__title">Спас. броски</h2>
        <div class="char__extraSaves__wrap" id="extraStats" v-masonry
             transition-duration="0.1s" item-selector=".char__extraSaves__stat">
            <div v-masonry-tile class="char__extraSaves__stat"  column-width="288"
                 v-for="(charStat, statKey) in character.stats" :key="statKey">
                <div class="char__extraSaves__stat-initial"
                     :class="{'known': charStat.known}">
                    <div class="char__extraSaves__stat-title">{{charStat.fullName}} ({{setStats(charStat)}})</div>
                    <div class="char__extraSaves__stat-value">{{setSaveStats(charStat)}}</div>
                </div>
                <div class="char__extraSaves__item" :class="{'known': extraSave.known, 'comp': extraSave.competition}"
                     v-if="charStat.extra"
                     v-for="(extraSave, extraSaveKey) in charStat.extra"
                     :key="extraSaveKey">
                    <div class="char__extraSaves__item-dot"></div>
                    <div class="char__extraSaves__item-name">{{extraSave.name}}</div>
                    <div class="char__extraSaves__item-value">
                        {{setExtraSave(charStat, extraSave, setProfBonus(character.lvl))}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "extraStats",

        methods: {
            setStats: function (charStat) {
                let statPlusValue;
                statPlusValue = Math.floor((charStat.value - 10) / 2);
                if (statPlusValue > 0) {
                    statPlusValue = '+' + statPlusValue
                }
                return statPlusValue;
            },
            setSaveStats: function (charStat) {
                let statPlusValue;
                statPlusValue = Math.floor((charStat.value - 10) / 2);
                if (statPlusValue > 0) {
                    statPlusValue = '+' + statPlusValue
                }
                return statPlusValue;
            },
            setExtraSave: function (charStat, extraSave, profBonus) {
                let statPlusValue;
                statPlusValue = Math.floor((charStat.value - 10) / 2);
                if (extraSave.known) {
                    statPlusValue = statPlusValue + parseInt(profBonus);
                }
                if (statPlusValue > 0) {
                    statPlusValue = '+' + statPlusValue
                }
                return statPlusValue;
            },
            setProfBonus: function (lvl) {
                let profBonus;
                if (lvl < 5) {
                    profBonus = 2
                } else if (lvl < 9) {
                    profBonus = 3
                } else if (lvl < 13) {
                    profBonus = 4
                } else if (lvl < 17) {
                    profBonus = 5
                } else {
                    profBonus = 6
                }

                if (profBonus > 0) {
                    profBonus = '+' + profBonus
                }
                return profBonus;
            }
        },

        computed: {
            character() {
                return this.$store.getters.getChar(this.$route.params.charId)
            }
        }
    }
</script>

<style lang="less" scoped>
    @import "../../assets/css/style.less";

    .char {
        &__extraSaves {

            &__stat {
                border-radius: .25rem;
                margin: 4px;
                border: 1px solid @lGray;
                width: calc(100% - 8px);

                @media @sm {
                    width: calc(50% - 8px);
                }

                @media @lg {
                    width: calc(100% / 3 - 8px);
                }

                &-initial {
                    .css_anim;

                    padding: .55rem .85rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    background-color: fadeout(@lGray, 85%);

                    &.known {
                        &:before {
                            content: '';
                            display: block;
                            height: 8px;
                            width: 8px;
                            position: absolute;
                            left: -4px;
                            border-radius: 50%;
                            background-color: @lBlack;
                        }
                    }
                }

                &-title {
                    font-weight: 600;
                }
            }

            &__item {
                .css_anim;

                border-top: 1px solid @lGray;
                display: flex;
                align-items: center;
                width: 100%;
                padding: .55rem .85rem;
                position: relative;

                &:hover {
                    .css_anim;

                    background-color: rgba(206, 212, 218, .1);
                }

                &.comp {
                    background-color: rgba(206, 212, 218, .3);
                }

                &.known {
                    &:before {
                        content: '';
                        display: block;
                        height: 8px;
                        width: 8px;
                        position: absolute;
                        left: -4px;
                        border-radius: 50%;
                        background-color: @lBlack;
                    }
                }

                &:last-child {
                    border-bottom: 0;
                }

                &-value {
                    font-weight: 600;
                    margin-left: auto;
                }
            }
        }
    }
</style>
